{% extends ('AdminBundle:layouts:layouts.html.twig') %}
{% block body %}


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> My files</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">Dashbord</li>
                            <li class="breadcrumb-item active"> My files</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                       
                    </div>
                </div>
            </div>

            <div class="row clearfix">
            	                                        <div class="col-lg-12 col-md-12">

<div class="tab-content padding-0">

                        <div class="tab-pane active" id="Basic">
                            <div class="card">
                                <div class="body">
                               <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>My files
                             </h2>                            
                        </div>
                        <div class="body">

                             {% for flashMessage in app.session.flashbag.get('addfile') %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span></button>
               {{ flashMessage }}
            </div>
        {% endfor %}



                             {% for flashMessage in app.session.flashbag.get('delete') %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span></button>
               {{ flashMessage }}
            </div>
        {% endfor %}
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>User</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                             <th>Date</th>
                                             <th>Files</th>
                                             <th>Delete</th>
                                          
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>user</th>
                                            <th>Title</th>
                                          <th>Description</th>  
                                             <th>Date</th>
                                             <th>files</th>
                                              <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for e in echnages %}
                                        <tr>




                                         <td>{{e.name}}</td>
                              <td>{{e.titre}}</td>
                              <td>{{e.description}}</td>

                               <td>{{ e.createdat|date("d-m-Y h:i") }}</td>
                
                              <td><a target="_blank" href="{{asset('uploads/')}}{{e.file}}">File</a> </td>   


                             <td><a  data-toggle="modal" data-target="#delete-close-modal{{e.id}}"><i class="fa fa-trash"></i></a>





                                <div id="delete-close-modal{{e.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <form action="{{path('deletefilesadmin')}}" method="POST">



                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">

                                                        Delete file ?
                                                    </h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                </div>
                                                <div class="">

                                                    <input type="hidden" name="id" value="{{e.id}}">

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Non</button>
                                                        <button type="submit" class="btn btn-info waves-effect waves-light">Oui</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </div><!-- /.modal -->








                            </td>      

                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                            </div>
                        </div>
                       
                       

                    </div>
                   

            </div>
        </div>
    </div>
</div>

	{% endblock %}
